<div class="blog-post">
  <%= link_to "Create New Blog", new_blog_url %>
  <% @blogs.each do |blog| %>
    <h2 class="blog-post-title">
      <%= link_to blog.title.upcase, @blog %>
    </h2>
    <div class="blog-post-body">
      <%= truncate(blog.body, :length => 400) %>
    </div>
    <%= link_to "EDIT", edit_blog_path(blog) %>
    <%= link_to "DELETE", blog, method: :delete, :data => { confirm: "are you sure?" } %>
  <% end %>
</div><!-- /.blog-post -->
