<div class="col-sm-8 blog-main">

  <h2><%= @blog.title %></h2>

  <%= link_to "EDIT", edit_blog_path(@blog.id) if logged_in?(:site_admin) %>
  <%= link_to "DELETE", @blog, method: :delete, :data => { confirm: "are you sure?" } if logged_in?(:site_admin) %>

  <div><%= @blog.body %></div>
<hr>
  <%= render 'comments/comment_form' %>

  <%= render @blog.comments %>
</div>
