<div class="container portfolio-container">
  <div class="row">
    <div class="col-md-7">
      <%= image_tag portfolio_img(@portfolio_item.main_image, 'main'), width: '100%' %>
    </div>
    <div class="col-md-5">
      <h1><%= @portfolio_item.title %></h1>
      <hr>

      <h3><%= @portfolio_item.subtitle %></h3>
      <div><%= @portfolio_item.body %></div>

      <hr>

      <h3>Technology Used:</h3>
      <% @portfolio_item.technologies.each  do |t| %>
        <p> <%= t.name %></p>
      <% end %>

      <hr>
      <% if logged_in?(:site_admin) %>
        <div class="col-xs-12">
          <%= link_to "EDIT", edit_portfolio_path(@portfolio_item), class: 'btn btn-warning' %>
          <%= link_to "DELETE", portfolio_path(@portfolio_item), class: 'btn btn-warning', method: :delete, :data => { confirm: "are you sure?" } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
