<div class="<%= location %>" ><%# to create a dynamic class using local variable check the render shared/nav in layouts %>
<%= link_to "Home", root_path %>
<%= link_to "About", about_path %>
<%= link_to "Contact", contact_path %>
<%= link_to "Portfolio", portfolios_path %>
<%= link_to "Blog", blogs_path %>
</div>
